*.keystore
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
android/local.properties
android/app/src/main/java/io/
ios/Flutter/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
